In [2]:
import numpy as np
import pandas as pd
import seaborn as sb
from scipy import stats
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('dataset/diabetes.csv')
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0

In [4]:
df["PlasmaGlucose"].head()

0    171
1     92
2    115
3    103
4     85
Name: PlasmaGlucose, dtype: int64

In [5]:
mpg_labels = [1, 2, 3]
cortes=[1,85,110,30000]

bins_PlasmaGlucose = pd.cut(df['PlasmaGlucose'],cortes, labels=mpg_labels)
bins_PlasmaGlucose.head()

0    3
1    2
2    3
3    2
4    1
Name: PlasmaGlucose, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [6]:
bins_PlasmaGlucose.value_counts()

3    6491
2    4509
1    4000
Name: PlasmaGlucose, dtype: int64

In [7]:
df['rangos de glucosa']=bins_PlasmaGlucose

In [8]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0,3
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0,2
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0,3
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1,2
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0,1

In [9]:
dt=df.loc[:, df.columns != 'PlasmaGlucose']

In [17]:
dt.head()

,PatientID,Pregnancies,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,80,34,23,43.509726,1.213191,21,0,3
1,1147438,8,93,47,36,21.240576,0.158365,23,0,2
2,1640031,7,47,52,35,41.511523,0.079019,23,0,3
3,1883350,9,78,25,304,29.582192,1.282870,43,1,2
4,1424119,1,59,27,35,42.604536,0.549542,22,0,1

In [18]:
columnas=dt.columns

In [13]:
anova = []
for col in columnas:      

    a = (stats.f_oneway(
            dt[col][dt['rangos de glucosa']==1],
            dt[col][dt['rangos de glucosa']==2],
            dt[col][dt['rangos de glucosa']==3])) 
    anova.append((col, a))
anova
#si es menor que 0.05 vemos que estan relacionados con la columna bins_quality
columnas_importantes=[i[0] for i in anova if i[1][1]<0.05]
columnas_importantes

['PatientID',
 'Pregnancies',
 'TricepsThickness',
 'SerumInsulin',
 'BMI',
 'DiabetesPedigree',
 'Age',
 'Diabetic',
 'rangos de glucosa']

In [14]:
dt.dtypes

PatientID                    int64
Pregnancies                  int64
DiastolicBloodPressure       int64
TricepsThickness             int64
SerumInsulin                 int64
BMI                        float64
DiabetesPedigree           float64
Age                          int64
Diabetic                     int64
rangos de glucosa         category
dtype: object

In [19]:
columnas=dt.columns

In [20]:
data=dt[columnas_importantes]
data.head()

,PatientID,Pregnancies,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,34,23,43.509726,1.213191,21,0,3
1,1147438,8,47,36,21.240576,0.158365,23,0,2
2,1640031,7,52,35,41.511523,0.079019,23,0,3
3,1883350,9,25,304,29.582192,1.282870,43,1,2
4,1424119,1,27,35,42.604536,0.549542,22,0,1

In [21]:
data.to_csv("dataset/clasificacion3.csv")

In [5]:
ns = pd.read_csv('dataset/clasificacion3.csv',index_col=0)
ns.head(50)

,PatientID,Pregnancies,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,34,23,43.509726,1.213191,21,0,3
1,1147438,8,47,36,21.240576,0.158365,23,0,2
2,1640031,7,52,35,41.511523,0.079019,23,0,3
3,1883350,9,25,304,29.582192,1.282870,43,1,2
4,1424119,1,27,35,42.604536,0.549542,22,0,1
5,1619297,0,9,253,19.724160,0.103424,26,0,1
6,1660149,0,19,227,21.941357,0.174160,21,0,3
7,1458769,0,43,36,18.277723,0.236165,26,0,1
8,1201647,8,33,24,26.624929,0.443947,53,1,1
9,1403912,1,40,42,36.889576,0.103944,26,0,1
10,1943830,1,11,58,43.225041,0.230285,22,0,2
11,1824483,3,31,36,21.294479,0.259020,23,0,2
12,1848869,5,43,70,36.495320,0.079190,38,1,3
13,1669231,7,16,44,36.089293,0.281276,25,0,2
14,1683688,0,11,179,39.192076,0.160829,45,0,3
15,1738587,3,46,61,19.847312,0.204345,21,1,2
16,1884264,3,25,51,29.044573,0.589188,42,1,2
17,1485251,1,15,226,29.786192,0.203824,41,1,3
18,1536832,8,32,164,21.230996,0.089363,25,0,3
19,1438701,3,25,289,42.185720,0.175593,43,1,2
20,1359971,0,8,324,21.866260,0.258332,33,0,2
21,1631185,0,7,276,42.500887,0.083558,24,0,3
22,1061812,1,18,165,36.628249,0.171620,23,0,1
23,1218879,1,42,266,34.985772,0.083335,25,0,3
24,1940297,2,46,146,34.534082,0.693502,55,1,1
25,1710438,9,42,40,51.855401,0.182938,21,1,2
26,1139740,6,31,14,45.274113,0.707163,21,1,3
27,1398321,3,42,428,18.571188,0.777016,25,0,3
28,1975790,0,52,16,45.391121,0.270567,22,0,3
29,1721341,0,9,16,20.985223,0.137393,33,0,1
30,1121857,11,8,541,29.422754,0.083732,47,1,1
31,1117458,8,42,46,18.909545,0.602582,34,0,3
32,1083679,0,8,67,46.320597,1.071584,42,0,3
33,1140806,3,29,46,28.091062,1.893404,25,0,3
34,1110369,2,33,469,50.549888,0.113913,46,1,1
35,1411676,7,44,31,35.080211,0.178296,23,0,1
36,1698452,3,44,79,18.765964,0.156563,21,0,3
37,1647913,0,31,21,21.364313,0.302663,23,0,1
38,1103142,2,47,70,23.392675,0.174089,23,1,2
39,1798712,7,10,232,19.235419,0.124638,26,0,2
40,1174304,2,56,66,35.991125,0.125032,21,1,3
41,1375088,1,35,190,50.504035,0.118579,22,0,1
42,1446157,0,11,48,38.904575,0.451848,24,0,3
43,1835203,0,25,471,18.856769,0.771367,22,0,1
44,1019771,5,41,323,48.840326,0.701383,22,1,2
45,1636522,2,7,83,40.915641,0.091441,22,0,3
46,1887689,5,26,159,26.689641,0.202320,21,1,3
47,1882185,9,7,24,27.369832,1.350472,43,1,2
48,1662484,6,35,24,18.743674,1.074148,75,0,1
49,1228510,4,29,243,34.692154,0.741160,59,1,3