In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
from scipy import stats
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('dataset/diabetes.csv')
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0

In [3]:
df["DiabetesPedigree"].head()

0    1.213191
1    0.158365
2    0.079019
3    1.282870
4    0.549542
Name: DiabetesPedigree, dtype: float64

In [4]:
mpg_labels = [0, 1]
cortes=[0,0.50,100]

bins_pedigree = pd.cut(df['DiabetesPedigree'],cortes, labels=mpg_labels)
bins_pedigree.head()

0    1
1    0
2    0
3    1
4    1
Name: DiabetesPedigree, dtype: category
Categories (2, int64): [0 < 1]

In [5]:
bins_pedigree.value_counts()

0    10304
1     4696
Name: DiabetesPedigree, dtype: int64

In [6]:
df.isnull().sum()

PatientID                 0
Pregnancies               0
PlasmaGlucose             0
DiastolicBloodPressure    0
TricepsThickness          0
SerumInsulin              0
BMI                       0
DiabetesPedigree          0
Age                       0
Diabetic                  0
dtype: int64

In [7]:
df['rangos padecer diabetes']=bins_pedigree

In [8]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos padecer diabetes
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0,1
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0,1

In [9]:
df.isnull().sum()

PatientID                  0
Pregnancies                0
PlasmaGlucose              0
DiastolicBloodPressure     0
TricepsThickness           0
SerumInsulin               0
BMI                        0
DiabetesPedigree           0
Age                        0
Diabetic                   0
rangos padecer diabetes    0
dtype: int64

In [23]:
dt = df.loc[:, df.columns != 'DiabetesPedigree']

In [24]:
dt.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,Age,Diabetic,rangos padecer diabetes
0,1354778,0,171,80,34,23,43.509726,21,0,1
1,1147438,8,92,93,47,36,21.240576,23,0,0
2,1640031,7,115,47,52,35,41.511523,23,0,0
3,1883350,9,103,78,25,304,29.582192,43,1,1
4,1424119,1,85,59,27,35,42.604536,22,0,1

In [14]:
dt.isnull().sum()

PatientID                  0
Pregnancies                0
PlasmaGlucose              0
DiastolicBloodPressure     0
TricepsThickness           0
SerumInsulin               0
BMI                        0
Age                        0
Diabetic                   0
rangos padecer diabetes    0
dtype: int64

In [15]:
columnas=dt.columns

In [25]:
anova = []
for col in columnas:      

    a = (stats.f_oneway(
            dt[col][dt['rangos padecer diabetes']==0],
            dt[col][dt['rangos padecer diabetes']==1])) 
    anova.append((col, a))
anova
#si es menor que 0.05 vemos que estan relacionados con la columna bins_quality
columnas_importantes=[i[0] for i in anova if i[1][1]<0.05]
columnas_importantes

C:\Users\NAIN\anaconda3\lib\site-packages\scipy\stats\stats.py:3641: F_onewayConstantInputWarning: Each of the input arrays is constant;the F statistic is not defined or infinite
  warnings.warn(F_onewayConstantInputWarning())

['PatientID',
 'Pregnancies',
 'SerumInsulin',
 'BMI',
 'Age',
 'Diabetic',
 'rangos padecer diabetes']

In [26]:
dt.dtypes

PatientID                     int64
Pregnancies                   int64
PlasmaGlucose                 int64
DiastolicBloodPressure        int64
TricepsThickness              int64
SerumInsulin                  int64
BMI                         float64
Age                           int64
Diabetic                      int64
rangos padecer diabetes    category
dtype: object

In [27]:
columnas=dt.columns

In [28]:
data=dt[columnas_importantes]
data.head()

,PatientID,Pregnancies,SerumInsulin,BMI,Age,Diabetic,rangos padecer diabetes
0,1354778,0,23,43.509726,21,0,1
1,1147438,8,36,21.240576,23,0,0
2,1640031,7,35,41.511523,23,0,0
3,1883350,9,304,29.582192,43,1,1
4,1424119,1,35,42.604536,22,0,1

In [29]:
data.isnull().sum()

PatientID                  0
Pregnancies                0
SerumInsulin               0
BMI                        0
Age                        0
Diabetic                   0
rangos padecer diabetes    0
dtype: int64

In [31]:
data.to_csv("dataset/clasificacion2.csv")

In [3]:
ns = pd.read_csv('dataset/clasificacion2.csv',index_col=0)
ns.head(50)

,PatientID,Pregnancies,SerumInsulin,BMI,Age,Diabetic,rangos padecer diabetes
0,1354778,0,23,43.509726,21,0,1
1,1147438,8,36,21.240576,23,0,0
2,1640031,7,35,41.511523,23,0,0
3,1883350,9,304,29.582192,43,1,1
4,1424119,1,35,42.604536,22,0,1
5,1619297,0,253,19.724160,26,0,0
6,1660149,0,227,21.941357,21,0,0
7,1458769,0,36,18.277723,26,0,0
8,1201647,8,24,26.624929,53,1,0
9,1403912,1,42,36.889576,26,0,0
10,1943830,1,58,43.225041,22,0,0
11,1824483,3,36,21.294479,23,0,0
12,1848869,5,70,36.495320,38,1,0
13,1669231,7,44,36.089293,25,0,0
14,1683688,0,179,39.192076,45,0,0
15,1738587,3,61,19.847312,21,1,0
16,1884264,3,51,29.044573,42,1,1
17,1485251,1,226,29.786192,41,1,0
18,1536832,8,164,21.230996,25,0,0
19,1438701,3,289,42.185720,43,1,0
20,1359971,0,324,21.866260,33,0,0
21,1631185,0,276,42.500887,24,0,0
22,1061812,1,165,36.628249,23,0,0
23,1218879,1,266,34.985772,25,0,0
24,1940297,2,146,34.534082,55,1,1
25,1710438,9,40,51.855401,21,1,0
26,1139740,6,14,45.274113,21,1,1
27,1398321,3,428,18.571188,25,0,1
28,1975790,0,16,45.391121,22,0,0
29,1721341,0,16,20.985223,33,0,0
30,1121857,11,541,29.422754,47,1,0
31,1117458,8,46,18.909545,34,0,1
32,1083679,0,67,46.320597,42,0,1
33,1140806,3,46,28.091062,25,0,1
34,1110369,2,469,50.549888,46,1,0
35,1411676,7,31,35.080211,23,0,0
36,1698452,3,79,18.765964,21,0,0
37,1647913,0,21,21.364313,23,0,0
38,1103142,2,70,23.392675,23,1,0
39,1798712,7,232,19.235419,26,0,0
40,1174304,2,66,35.991125,21,1,0
41,1375088,1,190,50.504035,22,0,0
42,1446157,0,48,38.904575,24,0,0
43,1835203,0,471,18.856769,22,0,1
44,1019771,5,323,48.840326,22,1,1
45,1636522,2,83,40.915641,22,0,0
46,1887689,5,159,26.689641,21,1,0
47,1882185,9,24,27.369832,43,1,1
48,1662484,6,24,18.743674,75,0,1
49,1228510,4,243,34.692154,59,1,1

In [33]:
data.shape

(15000, 7)

In [34]:
data.isnull().sum()

PatientID                  0
Pregnancies                0
SerumInsulin               0
BMI                        0
Age                        0
Diabetic                   0
rangos padecer diabetes    0
dtype: int64

In [35]:
data['rangos padecer diabetes'].value_counts()

0    10304
1     4696
Name: rangos padecer diabetes, dtype: int64