In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
from scipy import stats
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('dataset/diabetes.csv')
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0

In [3]:
df["SerumInsulin"].head()

0     23
1     36
2     35
3    304
4     35
Name: SerumInsulin, dtype: int64

In [4]:
mpg_labels = [1, 2, 3]
cortes=[1,60,140,30000]


#bins
bins_insulin = pd.cut(df['SerumInsulin'],cortes, labels=mpg_labels)
bins_insulin.head()

0    1
1    1
2    1
3    3
4    1
Name: SerumInsulin, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [5]:
bins_insulin.value_counts()

3    6228
1    6063
2    2709
Name: SerumInsulin, dtype: int64

In [6]:
df['rangos de insulina']=bins_insulin

In [7]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0,1
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0,1
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0,1
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1,3
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0,1

In [9]:
dt=df.loc[:, df.columns != 'SerumInsulin']

In [10]:
dt.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,1354778,0,171,80,34,43.509726,1.213191,21,0,1
1,1147438,8,92,93,47,21.240576,0.158365,23,0,1
2,1640031,7,115,47,52,41.511523,0.079019,23,0,1
3,1883350,9,103,78,25,29.582192,1.282870,43,1,3
4,1424119,1,85,59,27,42.604536,0.549542,22,0,1

In [11]:
columnas=dt.columns

In [16]:
anova = []
for col in columnas:      

    a = (stats.f_oneway(
            dt[col][dt['rangos de insulina']==1],
            dt[col][dt['rangos de insulina']==2],
            dt[col][dt['rangos de insulina']==3])) 
    anova.append((col, a))
anova
#si es menor que 0.05 vemos que estan relacionados con la columna bins_quality
columnas_importantes=[i[0] for i in anova if i[1][1]<0.05]
columnas_importantes

C:\Users\NAIN\anaconda3\lib\site-packages\scipy\stats\stats.py:3641: F_onewayConstantInputWarning: Each of the input arrays is constant;the F statistic is not defined or infinite
  warnings.warn(F_onewayConstantInputWarning())

['Pregnancies',
 'PlasmaGlucose',
 'DiastolicBloodPressure',
 'TricepsThickness',
 'BMI',
 'DiabetesPedigree',
 'Age',
 'Diabetic',
 'rangos de insulina']

In [17]:
dt.dtypes

PatientID                    int64
Pregnancies                  int64
PlasmaGlucose                int64
DiastolicBloodPressure       int64
TricepsThickness             int64
BMI                        float64
DiabetesPedigree           float64
Age                          int64
Diabetic                     int64
rangos de insulina        category
dtype: object

In [18]:
columnas=dt.columns

In [19]:
data=dt[columnas_importantes]
data.head()

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,0,171,80,34,43.509726,1.213191,21,0,1
1,8,92,93,47,21.240576,0.158365,23,0,1
2,7,115,47,52,41.511523,0.079019,23,0,1
3,9,103,78,25,29.582192,1.282870,43,1,3
4,1,85,59,27,42.604536,0.549542,22,0,1

In [22]:
data.to_csv("dataset/clasificacion.csv")

In [23]:
ns = pd.read_csv('dataset/clasificacion.csv',index_col=0)
ns.head()

,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,BMI,DiabetesPedigree,Age,Diabetic,rangos de insulina
0,0,171,80,34,43.509726,1.213191,21,0,1
1,8,92,93,47,21.240576,0.158365,23,0,1
2,7,115,47,52,41.511523,0.079019,23,0,1
3,9,103,78,25,29.582192,1.282870,43,1,3
4,1,85,59,27,42.604536,0.549542,22,0,1