In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
from scipy import stats
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('dataset/diabetes.csv')
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0

In [3]:
df["PlasmaGlucose"].head()

0    171
1     92
2    115
3    103
4     85
Name: PlasmaGlucose, dtype: int64

In [5]:
mpg_labels = [1, 2, 3]
cortes=[1,85,110,30000]

#bins
bins_PlasmaGlucose = pd.cut(df['PlasmaGlucose'],cortes, labels=mpg_labels)
bins_PlasmaGlucose.head()

0    3
1    2
2    3
3    2
4    1
Name: PlasmaGlucose, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [6]:
bins_PlasmaGlucose.value_counts()

3    6491
2    4509
1    4000
Name: PlasmaGlucose, dtype: int64

In [7]:
df['rangos de glucosa']=bins_PlasmaGlucose

In [8]:
df.head()

,PatientID,Pregnancies,PlasmaGlucose,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,171,80,34,23,43.509726,1.213191,21,0,3
1,1147438,8,92,93,47,36,21.240576,0.158365,23,0,2
2,1640031,7,115,47,52,35,41.511523,0.079019,23,0,3
3,1883350,9,103,78,25,304,29.582192,1.282870,43,1,2
4,1424119,1,85,59,27,35,42.604536,0.549542,22,0,1

In [9]:
dt=df.loc[:, df.columns != 'PlasmaGlucose']

In [17]:
dt.head()

,PatientID,Pregnancies,DiastolicBloodPressure,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,80,34,23,43.509726,1.213191,21,0,3
1,1147438,8,93,47,36,21.240576,0.158365,23,0,2
2,1640031,7,47,52,35,41.511523,0.079019,23,0,3
3,1883350,9,78,25,304,29.582192,1.282870,43,1,2
4,1424119,1,59,27,35,42.604536,0.549542,22,0,1

In [18]:
columnas=dt.columns

In [13]:
anova = []
for col in columnas:      

    a = (stats.f_oneway(
            dt[col][dt['rangos de glucosa']==1],
            dt[col][dt['rangos de glucosa']==2],
            dt[col][dt['rangos de glucosa']==3])) 
    anova.append((col, a))
anova
#si es menor que 0.05 vemos que estan relacionados con la columna bins_quality
columnas_importantes=[i[0] for i in anova if i[1][1]<0.05]
columnas_importantes

['PatientID',
 'Pregnancies',
 'TricepsThickness',
 'SerumInsulin',
 'BMI',
 'DiabetesPedigree',
 'Age',
 'Diabetic',
 'rangos de glucosa']

In [14]:
dt.dtypes

PatientID                    int64
Pregnancies                  int64
DiastolicBloodPressure       int64
TricepsThickness             int64
SerumInsulin                 int64
BMI                        float64
DiabetesPedigree           float64
Age                          int64
Diabetic                     int64
rangos de glucosa         category
dtype: object

In [19]:
columnas=dt.columns

In [20]:
data=dt[columnas_importantes]
data.head()

,PatientID,Pregnancies,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,34,23,43.509726,1.213191,21,0,3
1,1147438,8,47,36,21.240576,0.158365,23,0,2
2,1640031,7,52,35,41.511523,0.079019,23,0,3
3,1883350,9,25,304,29.582192,1.282870,43,1,2
4,1424119,1,27,35,42.604536,0.549542,22,0,1

In [21]:
data.to_csv("dataset/clasificacion3.csv")

In [22]:
ns = pd.read_csv('dataset/clasificacion3.csv',index_col=0)
ns.head()

,PatientID,Pregnancies,TricepsThickness,SerumInsulin,BMI,DiabetesPedigree,Age,Diabetic,rangos de glucosa
0,1354778,0,34,23,43.509726,1.213191,21,0,3
1,1147438,8,47,36,21.240576,0.158365,23,0,2
2,1640031,7,52,35,41.511523,0.079019,23,0,3
3,1883350,9,25,304,29.582192,1.282870,43,1,2
4,1424119,1,27,35,42.604536,0.549542,22,0,1